*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    margin: 0px;
    padding: 0px;
}
a{
    color: #007185;
}
a:hover{
    text-decoration: underline;
}
.main-nav{
    display: flex;
    background-color:#131921;
    height: 60px;
    width: 100%;
}
.midlle-nav{
    background-color:#232f3e;
    height: 39px;
    display: flex;
    justify-content: space-evenly;
align-items: center;
}
.note-nav{
    background-color: #d8f7eb;
    height: 48px;
    text-align:left;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    align-content: center;
    font-size: 14px;
    line-height: 20px;
    
}
.last-header{
    display: flex;
    background-color: whitesmoke;
    height:33px ;
    border-top:1px solid rgba(0,0,0,.17) ;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.left{
    display: flex;
}
.header-logo{
    width: 60px;
    height: 60px;
}
.img-logo{
    width: 60px;
    height: 60px;
    background: none;
}
.img-location{
    margin-left: 10px;
}
.location-line-one{
    color: #ccc;
    font-size: 12px;
}
.location-line-two{
    color: white;
    font-size: 14px;
}
.search{
    width: 130%;
    height: 38px;
    margin-left: 10px;
    text-align: center;
    
    

}
.search-icon{
    display: flex;
    width: 38px;
    height: 38px;
    background: orange;
    align-items: center;
    justify-content: center;
}
.search-glass{
    width: 28px;
    height: 28px;
    background: transparent;
}
.center{
    display: flex;
    text-align: center;
    width: 60%;
    align-items: center;
}
.selector{
    height:    38px ;
    width: 80px;
    margin-left: 20px;
    margin-right: -10px;
}
.country-selctor{
    width: 70px;
    height: 40px;
    background-color: transparent;
    color: white;
    font-size: 10px;
    margin-left: 30px;
    
}
.account-and-list{
    color: white;
    font-size: 10px;
    margin-left: 20px;
}
.right{
    display: flex;
    font-weight: 200;
    align-items: center;
}
.returns{
    color:  white;
    font-size: 10px;
    margin-left: 10px;

}
a{
    text-decoration: none;
}
.carts-img{
    width: 40px;
    height: 40px;
}
.cart{
    display: flex;
    color: white;
    margin-left: 20px;
    text-align: center;
}
.hm-icon nav-sprite{
    display: flex;
    width: 17px;
height: 14px;
}
.hamburger-icon{
    width: 30px;
    height: 30px;
}
.hm{
    display: flex;
    color: white;
}
.middle-nav-artibute{
    text-decoration: none;
    color: white;
}
.bold-a{
    font-weight: bold;
}
.last-header-a{
    color: black;
    text-decoration: none;
    font-size:12px ;
}
.back{
    color: black;
    margin-left: 3px;
}
.back:hover{
    text-decoration: underline;
}
.img-product{
    box-shadow:0 2px 5px 1px rgb(0 0 0 / 20%);
    border-radius: 3px;
    
}
.product{
    display: flex;
}
.image-and-follow{
    display: flex;
    flex-direction: column;
}
.lgn{
    width: 99px;
    height: 19px;
    text-align: left;
    background-color: #fff;
}
.img-product{
    width: 231px;
    height: 346px;
    cursor: pointer;
    
}
.image-thumb{
}
.img-thumb1{
    vertical-align: top;
    max-width: 60px;
    margin-top: 30px;
    float: left;
    
}

.img-thumb2{
    vertical-align: top;
    max-width: 60px;
    margin-top: 30px;
    
}
.link-thumb{
text-decoration: none;
color: #007185;
float: left;
}
.upper{
    display: flex;
    border-bottom: 1px solid #e7e7e7;
    flex-direction: column;
}
.img-and-icon{
    margin-left: 20px;


}
.bottom{
    margin-top:  20px;

}
.follow-text{
font-size: 14px !important;
line-height:20px !important
}
.glob-img{
width: 50px;
height: 50px;
}
.glob-desc{
    color: #007185;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.glob{
    display: flex;
    height: 50px;
    align-items: center;
    margin-top: 14px;
}
.btn-1{
    border-radius: 6%;
    margin-left: 20px;
    width: 100%;
    height: 29px;
    background-color: whitesmoke;

}
.line1{
    font-size: 28px !important;
    line-height: 36px !important;
}
.line2{
   color: #565959 !important;
   font-size: 24px;
   line-height: 32px !important;

}
.title-and-rating{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}
.title{
    display: flex;
}
.by-link{
    color: #007185;
}
.star-img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.byline{
    display: flex;
    align-items: center;
}
.star-rating{
    display: flex;
    align-items: center;
    color: #007185;
}
.see-all{
    font-size: 12px !important;
    line-height: 16px !important;
    margin-top: 20px ;
}
.switch-btn-1{
    width: 200px;
    height: 50px;
    background-color: whitesmoke;
}
.switch-btn-2{
    width: 120px;
    height: 50px;
    background-color: whitesmoke;
}
.btn-1-switch{
    display: flex;
    flex-direction: column;
}
.btn-2-switch{
    display: flex;
    flex-direction: column;
}
.text-bold{
    font-size:24px;
    line-height: 32px;
    font-weight: 700 !important;
}
.text-aria{
    width: auto;
    height: auto;
    margin-left: 40px;
    border-bottom: 1px solid black;
    
}
.bottom-icon-img{
display: flex;
width: 100%;
}
.print-icon{
    display:inline-block;
    vertical-align: middle;
    background-image: url(https://m.media-amazon.com/images/S/sash/4KY1PiWMSEktM92.png);
    height: 24px;
    width: 24px;
    background-position: -184px -2px;

    }
    .print-length{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 110px;
    }
    .langue{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 110px;
    }
.lang-icon{
    display:inline-block;
    vertical-align: middle;
    background-image: url(https://m.media-amazon.com/images/S/sash/4KY1PiWMSEktM92.png);
    height: 24px;
    width: 24px;
background-position: -158px -2px;

}
.Publication{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
}
.pub-icon{
    display:inline-block;
    vertical-align: middle;
    background-image: url(https://m.media-amazon.com/images/S/sash/4KY1PiWMSEktM92.png);
    height: 24px;
    width: 24px;
    background-position: -262px -2px;


}
.Dimensions{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
}
.dim-icon{
    display:inline-block;
    vertical-align: middle;
    background-image: url(https://m.media-amazon.com/images/S/sash/4KY1PiWMSEktM92.png);
    height: 24px;
    width: 24px;
    background-position: -2px -2px;


}
.isbn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;


}
.isb-icon{
    display:inline-block;
    vertical-align: middle;
    background-image: url(https://m.media-amazon.com/images/S/sash/4KY1PiWMSEktM92.png);
    height: 24px;
    width: 24px;
    background-position: -132px -2px;


}
.arrow-btn{
    height: 18px;
    width: 30px;
    background-color: whitesmoke;
}
.bottom-icon-img{
    justify-content: center;
    border-bottom: 1px solid black;
}

    .bottom-icon-img{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .kindle-icon{
        width: 120px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .kindle{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20%;
        border-radius: 4px;
        box-shadow:  0 0 0 4px rgba(0,0,0,.1);;
    }
    .read-with{
        color: black;
        background-color: orange;
        text-decoration: none;
    }
.buy-new{
    border-radius: 8px;
    padding: 14px 18px;
    box-shadow:  0 0 0 4px rgba(0,0,0,.1);;
    display: flex;
    flex-direction: column;

}
.buy-option{
    display: flex;
    flex-direction: column;
}
.priceandbuy{
    display: flex;
}
.loc-icon{
    min-width: 16px;
    height: 14px;
    float: left;
    background-image: url(https://m.media-amazon.com/images/S/sash/kIT-Lj9i1Bch8yi.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    margin-right: 5px;
    margin-top: 2px;
}
.in-stock{
    color: green;
}
.select-qty{
    width: 50px;
    border-radius: 10px;
}
.sub1{
background-color:  orange;
}
.sub2{
    background-color: orangered;

}
.ships{
    display: flex;
}
.chbackground-imageeckbox{
    border-bottom: 1px solid black;
}
.add-to{
    margin-top: 8px;
}
.email-img{
    background-image:url(https://m.media-amazon.com/images/S/sash/E6vgqiIirWgGb3f.png);
    background-size: 512px 256px;
    background-repeat: no-repeat;
    width: 19px;
    height: 17px;
   background-position:  -256px -220px;

}
.facebook-img{
    background-image:url(https://m.media-amazon.com/images/S/sash/E6vgqiIirWgGb3f.png);
    background-size: 512px 256px;
    background-repeat: no-repeat;
    width: 18px;
    height: 17px;
   background-position:  -193px -105px;


}
.twite{
    background-image:url(https://m.media-amazon.com/images/S/sash/E6vgqiIirWgGb3f.png);
    background-size: 512px 256px;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
   background-position:  -237px -151px;


}
.pinterest{
    background-image:url(https://m.media-amazon.com/images/S/sash/E6vgqiIirWgGb3f.png);
    background-size: 512px 256px;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
   background-position:  -138px -14px;

}
.share{
    display: flex;
    justify-content: space-around;
}
.bookclub{
    display: flex;
    flex-direction: column;
    box-shadow:  0 0 0 4px rgba(0,0,0,.1);;
    border-radius: 5px;

}
.book-club-img{
    width: 100%;
    height: 100%;

}
    @media screen and (min-width:300px ) and (max-width:700px){
      html,  boddy{
            width: 100%;
            height: 100%;
        }
        header{
            display: flex;
            width: auto;
            flex-direction: column;
            font-size: 10px;
        }
        
.main-nav{
    font-size: 10px;
    width: auto;
}
main{
    flex-direction: column;
    width: auto;
}
.img-location{
    
    height: 25%;
}
.note-nav{
    font-size: 10px;
}
.last-header{
    font-size: 8px;
    justify-content: space-between
}
.text-aria{
    margin-left: 0;
    font-size: 15px;
}
.left{
    width: auto;
}

    }